<div class="container is-fluid">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">SMS</a></li>
          <li class="is-active"><a href="#">DATA</a></li>
        </ul>
      </nav>
    <div class="columns" *ngIf="error">
        <div class="notification">
            {{error.message}}
        </div>
    </div>
    <div *ngIf="!error">
        <div class="columns" *ngFor="let d of data">
            <div class="column is-three-quarters">
                {{d.city}}
            </div>
            <div class="column auto">
                <button class="button is-small" [routerLink]="[d.id]">Show</button>
            </div>
            <div class="column auto">
                <button class="button is-info is-small" [routerLink]="[d.id,'edit']">Edit</button>
            </div>
            <div class="column auto">
                <button class="button is-danger is-small" [routerLink]="[d.id,'delete']">Delete</button>
            </div>
        </div>
    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          <li>
            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 2">2</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 3">3</a>
          </li>
        </ul>
      </nav>
</div>