<body>
    <section class="section">
      <div class="container">
        <h1 class="title">SMS Challenge</h1>
        <br>
        <h2 class="subtitle">
          <strong>FrontEnd:</strong> Bulma, Angular
        </h2>
        <h2 class="subtitle">
          <strong>BackEnd:</strong> SpringBoot, Hibernate
        </h2>
        <h2 class="subtitle">
          <strong>Database:</strong> PostgreSQL
        </h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </section>
</body>